* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.pd-2 {
  padding: 2rem;
}

.icon {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.banner {
  background: linear-gradient(rgba(27, 27, 50, 0.6), rgba(27, 27, 50, 0.9)),
    url(./assets/banner.jpg);
  height: 100vh;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.container {
  max-width: 1400px;
  padding: 2rem;
}

.customNav {
  font-size: 20px;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(49, 245, 206);
}

.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}

.banner {
  border-radius: 0;
}

.banner .container {
  height: 100%;
}

.bannerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.heading {
  font-size: 3.5rem;
  font-weight: 700;
  padding-bottom: 20px;
  border-bottom: 2px solid #fff;
}

.banner-text {
  font-size: 1.5rem;
}

.profile-img {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 4px 0 #444;
  margin: 0 auto 40px auto;
}

.section-heading {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 600;
  text-align: center;
}

#about-section {
  padding: 40px 0;
  text-align: center;
  color: rgb(15, 15, 73);
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 4px 0 #444;
  margin-bottom: 40px;
}

#about-section p {
  font-size: 20px;
  margin-bottom: 50px;
  line-height: 2;
}

#about-section i {
  margin-bottom: 50px;
  color: rgb(26, 29, 53);
}

.skillsHeading {
  font-weight: 600;
}

.skill {
  margin-bottom: 2rem;
}

#projects-section {
  padding: 60px 0 40px;
  background-color: rgb(214, 216, 231);
  color: rgb(15, 15, 73);
}

.project {
  height: 300px;
  max-width: 420px;
  margin: 0 auto 50px auto;
  text-align: center;
  position: relative;
  cursor: pointer;
}

#project-1 {
  background: url(./assets/project-1-thumbnail.jpg) no-repeat center;
}
#project-2 {
  background: url(./assets/project-2-thumbnail.jpg) no-repeat center;
}
#project-3 {
  background: url(./assets/project-3-thumbnail.jpg) no-repeat center;
}
#project-4 {
  background: url(./assets/project-4-thumbnail.jpg) no-repeat center;
}
#project-5 {
  background: url(./assets/project-5-thumbnail.jpg) no-repeat center;
}
#project-6 {
  background: url(./assets/project-6-thumbnail.jpg) no-repeat center;
}

.project-info {
  position: absolute;
  background: rgba(1, 4, 27, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.project-info:hover {
  opacity: 1;
}

.project-info a {
  color: rgb(49, 245, 206);
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.project-info a:hover {
  opacity: 1;
  transform: translateY(43%);
}

#footer {
  color: #fff;
  padding: 40px 0 0;
  background-color: rgb(27, 27, 50);
}

#footer p {
  margin-top: 40px;
  text-align: center;
}

#footer > p {
  background: rgb(10, 10, 35);
  margin: 0;
  padding: 10px;
}
